@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

.Top-Heading {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.Top-Heading-SubHeading {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 3px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 2px;
}
.Top-Heading-Button-Login {
  cursor: pointer;
  margin: 10px;
  height: 50px;
  width: 80px;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 20px;
}
.Auth-Button {
  display: flex;
  justify-content: center;
}
.Divider {
  height: 20px;
  width: 100%;
  background-color: black;
}
.TopSection {
  background-color: antiquewhite;
}
body {
  background-color: rgb(240, 232, 220);
}
.TopHeading-ExploreSection {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 2px;
}
.TopTop {
  display: flex;
}

.Top-Heading-Button-Login {
  letter-spacing: 3px;
  background-color: black;
  color: antiquewhite;
}
.projects-gif-top {
  height: 100px;
}
.ExploreSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
