@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
body {
  overflow-x: hidden;
}
.Top-Heading {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.Top-Heading-SubHeading {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 3px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 2px;
}
.Top-Heading-Button-Login {
  cursor: pointer;
  margin: 10px;
  height: 50px;

  font-family: "Mouse Memoirs", sans-serif;
  font-size: 20px;
}
.Auth-Button {
  display: flex;
  justify-content: center;
}
.Divider {
  height: 20px;
  width: 100%;
  background-color: black;
}
.TopSection {
  background-color: antiquewhite;
}
body {
  background-color: rgb(240, 232, 220);
}
.TopHeading-ExploreSection {
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 2px;
}
.TopTop {
  display: flex;
}

.Top-Heading-Button-Login {
  letter-spacing: 3px;
  background-color: black;
  color: antiquewhite;
}
.projects-gif-top {
  height: 100px;
}
.ExploreSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Temp-Centered {
  display: flex;
  justify-content: center;
}
.Login-Form {
  background-color: antiquewhite;
  height: auto;
}
.Top-Left {
  margin-left: 20px;
  margin-top: 20px;
}
.Email-Field {
  display: flex;
  justify-content: center;
}
.Input-field {
  height: 30px;
  margin-top: 30px;
  margin-left: 20px;
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  overflow-y: hidden;
}

.Auth-form {
  width: 500px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: blanchedalmond;
  overflow-y: hidden;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.LogoutSection {
  display: flex;
  justify-content: en;
}
.HomePage-Go {
  font-family: "Mouse Memoirs", sans-serif;
  background-color: black;
  color: antiquewhite;
  border-radius: 20px;
  margin-left: 20px;
}
.hint {
  color: rgb(31, 30, 15);
  font-weight: bold;
}

.Loader {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.Loader-Hint {
  color: rgb(1, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
}
.Picture {
  display: flex;
  justify-content: center;
}
.Picture-User {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid rgb(2, 2, 1);
}
.Upload-Image-Section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Temp {
  display: flex;
  justify-content: center;
}

.Temp-Para {
  font-family: "Mouse Memoirs", sans-serif;
}
.TypeOfExperience {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  background-color: #00d7ff;
  width: 100px;
  border-radius: 28px;
  padding: 10px;
  border: 2px solid rgb(2, 2, 1);
}

.LinksClass {
  margin: 20px;
  background-color: #070a0a;
  color: #f2d7d9;
  padding: 20px;
  border-radius: 20px;
  border-bottom: 30px solid #eee;
  border-left: 30px solid #272822; /*Set to background color, not transparent!*/
  -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.links-icons {
  background-color: #76ba99;
}
.links-contain {
  display: flex;
  justify-content: end;
}
